*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}
body{
    background-color: white;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.mgt25{
    margin-top: 25px;
}
.center{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
}


.profile{
    border: 3px solid #222;
    margin: 0;
    width: 30%;
    height: 100%;
    position: relative;/*khung của profile*/
    margin: 1.2%;
    margin-right: 0.2%;
}

.header .name{
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.header .center.name:hover{
    color: yellowgreen;
}
.header >h4{
    padding-top: 15px;
    padding-bottom: 25px;
}
.header .avt{
    margin-top: 14px;
}
.header .avt:hover{
    cursor: grab;
}
.title{
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
}
.slider{
    padding-left:5% ;
    margin: 25px;
    margin-top: 29%;
}
.slider .contact ul li{
    display: block;
    margin-top: 5px;
}
.contact li a{
    font-weight: 400;
}
.contact li a h4{
    font-size: 16px;
}
.lang{
    margin-top: 10px;
}



.info{
    border: 3px solid black;
    margin-left: 10px;
    width: 65%;
    height: 100%;
    padding: 30px 20px;
    margin: 1.2% 1%;
}

.info .skill-hightLight{
    display: block;
}
.info .summary ul{
    padding-left: 30px;
}
.info .summary ul li{
    list-style-type: circle;
}
.box1{
    width: 50%;
    padding-left: 50px;
}
.box2{
    width: 40%;
    margin-left: 10%;
    margin-bottom:2.5%;
}
.content .contact h2{
    border-bottom: 1px solid #222;
    margin-bottom: 4%;
}
.content .contact form{
    width: 60%;
    height: 100%;
}
.content .contact .box{
    background-color: #f8f9fa;
    width: 44%;
    color: #434A54;
    min-height: 2.5em;
    margin-top: 3%;
    font-size: 1em;
    border-radius: 0.3rem;
}
.content .contact #box-2{
    margin-left: 10%;
}
.content .contact #box-3{
    min-height: 7em;
    width: 100%;
}
.content .contact .btn{
    box-sizing: border-box;
    margin-top: 8%;
    padding: 2% 4%;
    border-radius: 3rem;
    background-color: #4a89dc;
    border-color: #4a89dc;
    color: #fff;
    cursor: pointer;
}
.content .contact .box:focus{
    background-color: #fff;
    color: #434a54;
    border-color: #a5c4ee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(74 173 220 / 25%);
}



.animation-header{
    animation: move 1s linear;
}

@keyframes move{
   from{
    transform: translateX(10%);
    opacity: 0;
   }
   to{
    transform: translateX(0%);
    opacity: 1;
   }
}
.animation-slider{
    animation: move1 1s linear;
}

@keyframes move1{
   from{
    transform: translateX(50%);
    transform: translateY(50%);
    opacity: 0;
   }
   to{
    transform: translateX(0%);
    transform: translateY(0%);
    opacity: 1;
   }
}
.animation-box{
    animation: move2 0.5s linear;
}

@keyframes move2{
    from{
        transform: translateX(-20%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.animation-content{
    animation: move3 0.5s linear;
}
@keyframes move3{
    from{
        transform: translateX(30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

